.mission {
    background-color: rgb(216, 216, 216);
    height: 300px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.mission-title {
    background-color: rgb(74, 177, 152);
    text-align: center;
    padding: 12px;
    width: 100%;
    color: white; 
}

p {
    margin: 0 !important;
}