.lostPassword {
    background-color: #e6e6e6;
}

header {
    padding-left: 94%;
    display: flex;
    position: absolute;
    top: 0;
}

.page-lostPassword {
    width: 1000%;
    max-width: 1100px;
    height: 730px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

form h1 {   
    color: #707070;
    width: 300px;
    height: 50px;
    display: flex;
    flex-wrap: rap;
    margin-bottom: -5px;
    margin-top: 10px;
}

form .field {
    margin-top: 30px;
}

form p {
    color: #6A6A6A;
    padding-left: 120px;
    padding-top: 10px ;
}

form a {
    color: inherit;
}

form .bt {
  margin-left: -15px;
}

form .bt1 button {
    margin-bottom: -20px;
    background-color: #B2CB41;
}

form .bt1 button:hover {
    transition: background 0.3s;
    background-color: #BDE19B;
    cursor: pointer;
}

form .bt2 button {
    margin-top: 60px;
    background-color: #6D6D6D;
}

form .bt2 button:hover {
    transition: background 0.3s;
    background-color: #AAAAAA;
    cursor: pointer;
}

form button {
    font-weight: bold;
    border-radius: 20px;
    border: 0px;
    color: white;
    font-size: 25px;
    width: 190px;
    height: 50px;
    margin-bottom: 70px;
    margin-top: 100px;
    position: center;
    transition: 400ms;
    list-style: none;
    transition: background 400ms;
}